.login-input {
  position: absolute;
  top: 25%;
  left: 35%;
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 41, 121, 1) 33%,
    rgba(7, 51, 150, 1) 45%
  ); */
  background-color: white;
  width: 500px;
  height: 500px;
  padding: 1.5rem;
  z-index: 999;
  box-shadow: 13px -1px 22px -8px rgba(23, 16, 189, 0.75);
  -webkit-box-shadow: 13px -1px 22px -8px rgba(23, 16, 189, 0.75);
  -moz-box-shadow: 13px -1px 22px -8px rgba(23, 16, 189, 0.75);
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.MuiFormControl-root {
  background-color: white;
  width: 60%;
}

.close-modal {
  position: absolute;
  left: 85%;
  top: 2%;
  border: 0;
  background-color: transparent;
  color: rgb(22, 16, 124);
  font-weight: 700;
  font-size: 24px;
}
