.create-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  gap: 2rem;
  width: 50%;
  padding: 2.5rem;
  position: absolute;
  z-index: 1000;
  box-shadow: 13px -1px 22px -8px rgba(23, 16, 189, 0.75);
  -webkit-box-shadow: 13px -1px 22px -8px rgba(23, 16, 189, 0.75);
  -moz-box-shadow: 13px -1px 22px -8px rgba(23, 16, 189, 0.75);
  border-radius: 15px;
}
.wizzard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: rgb(22, 16, 124);
}

.step p {
  border: 1px solid;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.submit-heading {
  text-align: center;
}
/* 
::placeholder {
  color: #6b6e77;
} */

/* #outlined-233 {
  color: darkblue;
  font-weight: 800;
  border: 1px solid darkblue;
  outline: grey;
}

.MuiFormControl-root {
  font-weight: 800;
} */
